<?xml version="1.0"?>
<launch>
    <!-- Posix SITL MAVROS integration tests -->
    <!-- Test a mission -->
    <arg name="est" default="ekf2"/>
    <arg name="gui" default="true"/>
    <arg name="interactive" default="false"/>
    <arg name="mission" default="avoidance"/>
    <!--<arg name="sdf" default="$(find collision_avoid_sim)/sim/models/iris_depth_camera_3/iris_depth_camera.sdf"/>-->
    <arg name="sdf" default="$(find collision_avoid_sim)/urdf/iris_rs_camera.sdf"/>
    <!--<arg name="urdf" default="$(find collision_avoid_sim)/urdf/test_d435_camera_iris.urdf.xacro"/>-->
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find collision_avoid_sim)/sim/worlds/boxes2.world"/>


    <!-- PX4 SITL, mavros and Gazebo -->
    <include file="$(find collision_avoid_sim)/launch/mavros_posix_sitl_realsense.launch">
        <arg name="est" value="$(arg est)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="respawn_gazebo" value="true"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <!--<arg name="urdf" value="$(arg urdf)"/>-->
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="verbose" value="true"/>
        <arg name="world" value="$(arg world)"/>
    </include>

    <!-- ROStest -->
    <arg name="node_start_delay" default="100.0" />  
    <node name="avoidance_node" pkg="collision_avoid_sim" type="offb_node" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    
</launch>
